.DiaryTemplate {
  margin:0 auto;
  width: 1600px;
  height: 900px;
  border: solid 3px blue;
  display:flex;
  align-items: center;
  justify-content: center;
}
.bookdot {
  width: 1505px;
  height: 775px;
  // margin: 9px 2px;
  border: 2px dashed blue;
  border-radius: 15px;
  position: absolute;
  background-color:darkgrey;
}

.DiaryTemplateLeft {
  background-color: darkgray;
  width: 300px;
  height: 800px;
  border-radius: 15px;
  border:solid black 3px;
}

.DiaryTemplateRight {
  background-color: darkgray;
  width: 1200px;
  height: 800px;
  // margin: -790px 305px;
  // padding: 5px;
  border-radius: 15px;
  border:solid pink 3px;
}


