.mi-1,
.mi-2,
.mi-3,
.mi-4 {
  width: 70px;
  height: 35px;
  background-color: #1297af;
  position: absolute;
  text-align: center;
  color: white;
  vertical-align: center;
  border-radius: 5px;
  border: 1px solid black;
  left: 1700px;
  font-size: 15px;
  margin-top: 50px;
  cursor: pointer;
}

.mi-1 {
  top: 80px;
  z-index: 1;
}
.mi-2 {
  top: 120px;
  margin-top: 60px;
}
.mi-3 {
  top: 160px;
  margin-top: 70px;
}
.mi-4 {
  top: 200px;
  margin-top: 80px;
}
