.mi-1,
.mi-2,
.mi-3,
.mi-4 {
  width: 70px;
  height: 35px;
  background-color: #127caf;
  position: absolute;
  text-align: center;
  color: white;
  vertical-align: center;
  padding-top: 10px;
  border-radius: 5px;
  border: 1px solid black;
  left: 1130px;
  font-size: 15px;
  margin-top: 50px;
}

.mi-1 {
  top: 60px;
  z-index: 1;
}
.mi-2 {
  top: 98px;
  margin-top: 100px;
}
.mi-3 {
  top: 136px;
  margin-top: 150px;
}
.mi-4 {
  top: 174px;
  margin-top: 200px;
}
